.Input {
  background-color: $red-bk-color;
  width: 100%;
  form {
    display: flex;
    flex-direction: column;
    width: inherit;
    height: inherit;

    p {
      color: $white;
      font-size: 2rem;
      font-weight: 400;
    }

    textarea {
      outline: none;
      width: inherit;
      height: 30rem;
      resize: none;
    }

    button {
      width: 100%;
      margin: 2rem auto 0 auto;
    }
  }
}
