// font colors
$white-font: #fff;

// main bkground color
$converter-bk-color: #43658b;

// main btn color
$main-btn-color: #68aad3;
$main-btn-hover-color: #ed6663;

// UI update:
$white: #fff;
$trans-white: #ffffffc2;
$black: #000;
$logo-txt-color: #207dff;
$red-bk-color: #fb4351;
$gray-bk-color: #f5f5f5;
$default-btn-color: #55ba3f;
$line-break-color: #ececec;
