.Output {
  width: 100%;
  height: 100%;
  background-color: $main-btn-color;

  .OutputTextBox {
    width: inherit;
    height: inherit;

    p {
      color: $white;
      font-size: 2rem;
      font-weight: 400;
    }

    textarea {
      outline: none;
      width: inherit;
      height: 15rem;
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    &--copy {
      margin-bottom: 1rem;
    }
  }
}

@media only screen and (min-width: 1650px) {
  .Output {
    .buttons {
      width: 25%;
      margin: 1rem auto 0 auto;
      &--copy {
        margin-bottom: 1rem;
      }
    }
  }
}
