.Converter {
  position: relative;
  width: 100%;

  .mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    height: 100vh;
    width: 100%;
    z-index: 100;
    background-color: $white;
    justify-content: center;
    align-items: center;

    .links {
      &--about,
      &--tools,
      &--close {
        cursor: pointer;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        width: 100%;
        padding: 1.5rem 0;
        border-bottom: 1px solid $white;
      }

      &--close {
        background-color: $white;
        outline: none;
        border-top: none;
        border-left: none;
        border-right: none;
      }
    }
  }

  .Nav {
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: $gray-bk-color;
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    &--logo {
      color: $logo-txt-color;
      display: flex;
      h1 {
        margin-left: 1rem;
      }
    }

    &--links {
      .links {
        &--about,
        &--tools {
          display: none;
        }

        &--burger {
          color: $logo-txt-color;
        }
      }
    }
  }
  &--content {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;

    .about-section,
    .tools-section {
      h1,
      h3 {
        text-align: center;
        font-weight: 300;
      }

      h1 {
        font-size: 4rem;
      }

      h3 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
      }
      .line-break {
        height: 1px;
        width: 50%;
        margin: 1rem auto 2rem auto;
        background-color: $black;
      }

      p {
        text-align: center;
        font-size: 2rem;
      }
    }

    .tools-section {
      background-color: $gray-bk-color;
      padding-bottom: 2rem;
    }

    &--content {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}

@media only screen and (min-width: 700px) {
  .Converter {
    .Nav {
      &--links {
        display: flex;
        .links {
          &--about,
          &--tools {
            cursor: pointer;
            display: block;
            font-size: 2rem;
            font-weight: 400;
            transition: all 0.2s;
          }

          &--about:hover,
          &--tools:hover {
            color: $logo-txt-color;
          }

          &--about {
            margin-right: 2rem;
          }

          &--burger {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  .padding {
    padding: 8rem;
  }
  .Converter {
    .Nav {
      padding: 1rem 8rem;

      &--logo {
        cursor: pointer;
      }

      &--links {
        .links {
          &--about,
          &--tools {
            font-size: 2rem;
          }
        }
      }
    }
    &--content {
      .about-section,
      .tools-section {
        h1,
        h3 {
          text-align: center;
          font-weight: 300;
        }

        h1 {
          font-size: 4rem;
        }

        h3 {
          font-size: 2.5rem;
          margin-bottom: 1rem;
        }
        .line-break {
          height: 1px;
          width: 10%;
          margin: 1rem auto 2rem auto;
          background-color: $black;
        }

        p {
          margin-top: 2rem;
          padding: 1rem 20%;
          text-align: center;
          font-size: 2rem;
        }
      }

      .tools-section {
        padding-top: 0;

        .tool-links {
          display: flex;
          justify-content: center;

          div {
            &:first-of-type {
              margin-right: 2rem;
            }
          }
        }
      }
    }
  }
}
