*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-weight: 300;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif; }

pre {
  font-family: 'Roboto', monospace; }

.InputField {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: .5rem; }

.Button {
  padding: 1rem 2rem;
  background-color: #68aad3;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
  border: 1px solid #68aad3;
  border-radius: .5rem;
  transition: all .2s; }

.Button:hover {
  background-color: #ed6663;
  border: 1px solid #ed6663;
  cursor: pointer; }

.Converter {
  background-color: #43658b;
  height: 100vh; }

.InputWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3rem 0; }
  .InputWrapper .Input h1 {
    text-align: center;
    color: #fff;
    font-size: 4rem;
    font-weight: 300; }

.Form {
  display: flex;
  justify-content: center;
  margin: 3rem 0; }

.Output {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 10rem 15rem 15rem; }
  .Output .copyBtn {
    margin-top: 1rem; }
  .Output .OutputTextBox {
    width: 100rem;
    height: 50rem;
    background-color: #fff;
    border-radius: 10px;
    overflow: auto; }
  .Output .formatted {
    text-align: start;
    padding: .5rem;
    font-size: 3rem; }
  .Output .unFormatted {
    text-align: center;
    font-size: 4rem; }

@media (min-width: 1583px) {
  .Output {
    flex-direction: column; }
    .Output .OutputTextBox {
      width: 100%; }
    .Output .copyBtn {
      margin: 0 25%; } }
