*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-weight: 300;
  line-height: 1.6;
  font-family: "Roboto", sans-serif; }

pre {
  font-family: "Roboto", monospace; }

textarea {
  resize: vertical;
  border: 1px solid #fff;
  padding: 1rem;
  border-radius: 5px; }

a {
  text-decoration: none;
  color: inherit; }

.equalHW {
  flex: 1; }

.btn {
  cursor: pointer;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: #55ba3f;
  border: 1px solid #55ba3f;
  border-radius: 5px;
  color: #fff;
  outline: none;
  transition: all 0.2s; }
  .btn:hover {
    background-color: #75ca62;
    border: 1px solid #75ca62; }

.padding {
  padding: 3rem; }

.InputField {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: .5rem; }

.Button {
  padding: 1rem 2rem;
  background-color: #68aad3;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
  border: 1px solid #68aad3;
  border-radius: .5rem;
  transition: all .2s; }

.Button:hover {
  background-color: #ed6663;
  border: 1px solid #ed6663;
  cursor: pointer; }

.Converter {
  position: relative;
  width: 100%; }
  .Converter .mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    height: 100vh;
    width: 100%;
    z-index: 100;
    background-color: #fff;
    justify-content: center;
    align-items: center; }
    .Converter .mobile-nav .links--about, .Converter .mobile-nav .links--tools, .Converter .mobile-nav .links--close {
      cursor: pointer;
      text-align: center;
      font-size: 2rem;
      font-weight: 400;
      width: 100%;
      padding: 1.5rem 0;
      border-bottom: 1px solid #fff; }
    .Converter .mobile-nav .links--close {
      background-color: #fff;
      outline: none;
      border-top: none;
      border-left: none;
      border-right: none; }
  .Converter .Nav {
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between; }
    .Converter .Nav--logo {
      color: #207dff;
      display: flex; }
      .Converter .Nav--logo h1 {
        margin-left: 1rem; }
    .Converter .Nav--links .links--about, .Converter .Nav--links .links--tools {
      display: none; }
    .Converter .Nav--links .links--burger {
      color: #207dff; }
  .Converter--content {
    display: flex;
    flex-direction: column;
    margin-top: 4rem; }
    .Converter--content .about-section h1,
    .Converter--content .about-section h3,
    .Converter--content .tools-section h1,
    .Converter--content .tools-section h3 {
      text-align: center;
      font-weight: 300; }
    .Converter--content .about-section h1,
    .Converter--content .tools-section h1 {
      font-size: 4rem; }
    .Converter--content .about-section h3,
    .Converter--content .tools-section h3 {
      font-size: 2.5rem;
      margin-bottom: 1rem; }
    .Converter--content .about-section .line-break,
    .Converter--content .tools-section .line-break {
      height: 1px;
      width: 50%;
      margin: 1rem auto 2rem auto;
      background-color: #000; }
    .Converter--content .about-section p,
    .Converter--content .tools-section p {
      text-align: center;
      font-size: 2rem; }
    .Converter--content .tools-section {
      background-color: #f5f5f5;
      padding-bottom: 2rem; }
    .Converter--content--content {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column; }

@media only screen and (min-width: 700px) {
  .Converter .Nav--links {
    display: flex; }
    .Converter .Nav--links .links--about, .Converter .Nav--links .links--tools {
      cursor: pointer;
      display: block;
      font-size: 2rem;
      font-weight: 400;
      transition: all 0.2s; }
    .Converter .Nav--links .links--about:hover, .Converter .Nav--links .links--tools:hover {
      color: #207dff; }
    .Converter .Nav--links .links--about {
      margin-right: 2rem; }
    .Converter .Nav--links .links--burger {
      display: none; } }

@media only screen and (min-width: 1400px) {
  .padding {
    padding: 8rem; }
  .Converter .Nav {
    padding: 1rem 8rem; }
    .Converter .Nav--logo {
      cursor: pointer; }
    .Converter .Nav--links .links--about, .Converter .Nav--links .links--tools {
      font-size: 2rem; }
  .Converter--content .about-section h1,
  .Converter--content .about-section h3,
  .Converter--content .tools-section h1,
  .Converter--content .tools-section h3 {
    text-align: center;
    font-weight: 300; }
  .Converter--content .about-section h1,
  .Converter--content .tools-section h1 {
    font-size: 4rem; }
  .Converter--content .about-section h3,
  .Converter--content .tools-section h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem; }
  .Converter--content .about-section .line-break,
  .Converter--content .tools-section .line-break {
    height: 1px;
    width: 10%;
    margin: 1rem auto 2rem auto;
    background-color: #000; }
  .Converter--content .about-section p,
  .Converter--content .tools-section p {
    margin-top: 2rem;
    padding: 1rem 20%;
    text-align: center;
    font-size: 2rem; }
  .Converter--content .tools-section {
    padding-top: 0; }
    .Converter--content .tools-section .tool-links {
      display: flex;
      justify-content: center; }
      .Converter--content .tools-section .tool-links div:first-of-type {
        margin-right: 2rem; } }

.Input {
  background-color: #fb4351;
  width: 100%; }
  .Input form {
    display: flex;
    flex-direction: column;
    width: inherit;
    height: inherit; }
    .Input form p {
      color: #fff;
      font-size: 2rem;
      font-weight: 400; }
    .Input form textarea {
      outline: none;
      width: inherit;
      height: 30rem;
      resize: none; }
    .Input form button {
      width: 100%;
      margin: 2rem auto 0 auto; }

@media only screen and (min-width: 1650px) {
  .Input form button {
    width: 25%;
    margin: 2rem auto 0 auto; } }

.Output {
  width: 100%;
  height: 100%;
  background-color: #68aad3; }
  .Output .OutputTextBox {
    width: inherit;
    height: inherit; }
    .Output .OutputTextBox p {
      color: #fff;
      font-size: 2rem;
      font-weight: 400; }
    .Output .OutputTextBox textarea {
      outline: none;
      width: inherit;
      height: 15rem; }
  .Output .buttons {
    display: flex;
    flex-direction: column;
    margin-top: 1rem; }
    .Output .buttons--copy {
      margin-bottom: 1rem; }

@media only screen and (min-width: 1650px) {
  .Output .buttons {
    width: 25%;
    margin: 1rem auto 0 auto; }
    .Output .buttons--copy {
      margin-bottom: 1rem; } }

.ToolBox {
  cursor: pointer;
  margin: 0 auto 2rem auto;
  padding: 2rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  transition: all 0.2s; }
  .ToolBox:hover {
    background-color: #68aad3;
    border: 1px solid #fff;
    color: #fff; }
  .ToolBox div h2 {
    font-size: 3rem;
    font-weight: 300; }
  .ToolBox div .icon {
    text-align: center; }

@media only screen and (min-width: 1400px) {
  .ToolBox {
    width: 40rem;
    height: 30rem;
    margin: 0;
    justify-content: center; }
    .ToolBox div h2 {
      margin: 0;
      padding: 0; }
    .ToolBox div p {
      margin: 0;
      padding: 0; } }
